{#
/**
 * @file
 * Default theme implementation to present a WHFR Program entity.
 *
 * This template is used when viewing a registered whfr program's page,
 * e.g., /admin/config/hfc/whfr-program/123. 123 being the whfr program's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_whfr_program()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('whfr_program') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
