{#
/**
 * @file
 * Default theme implementation to present a WHFR Playlist entity.
 *
 * This template is used when viewing WHFR Playlist pages.
 * e.g., /playlist/123. 123 being the playlist entity's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_whfr_playlist()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('whfr_playlist') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
